  
  .e-carousel {
    position: relative;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    z-index: 289;
    margin-top:3%;
  }
  
  .e-carousel button {
    position: absolute;
    top: 50%;
    z-index: 9999;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
  }
  
  .e-carousel button:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  .e-carousel button:nth-of-type(1) {
    left: 0;
  }
  
  .e-carousel button:nth-of-type(2) {
    right: 0;
  }
  
  .e-carousel-slides {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
  }
  
  .e-carousel-slide {
    background-size: cover;
    background-position: center;
    transition: transform 0.5s, opacity 0.5s;
  }
  
  .e-carousel-slide-prev, .e-carousel-slide-next {
    width: 20%;
    height: 120px;
    opacity: 0.5;
    transform: scale(0.7);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .e-carousel-slide-prev {
    left: 10%;
  }
  
  .e-carousel-slide-next {
    right: 10%;
  }
  
  .e-carousel-slide-current {
    width: 45%;
    height: 150px;
  }
  
  .e-carousel-price {
    display: block;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
  }
  
  .e-dots {
    text-align: center;
    margin-top: 20px;
  }
  
  .e-dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .e-dot.active {
    background-color: #717171;
  }
  
  .transition {
    transition: background-image 0.26s ease-in-out;
  }
  @media (min-width: 768px) {
    .e-carousel-slide-current {
      height: 270px;
    }
  }