
<div class="e-menu-contain">
    <div class="e-m-subcontain">
        <div class="e-m-user">
           <img class="e-m-img" src="https://res.cloudinary.com/dzlgt5j3g/image/upload/v1717105112/Carrera%20Por%20La%20Vida%20Client/acceso_liqq3v.png"/>
            <div class="e-m-gret">
               <span>hola, invitado</span>
            </div>
        </div>
        <img class="e-m-leave" src="https://res.cloudinary.com/dzlgt5j3g/image/upload/v1717106505/Carrera%20Por%20La%20Vida%20Client/cerrar-sesion_fvl4nr.png"/>
    </div>

</div>