<div class="container">
    <div class="header">
      <span (click)="back()" class="back-arrow">&lt;</span>
      <span class="title">Términos y condiciones</span>
    </div>
    <div class="content">
      <p>Bienvenidos a la carrera por la vida organizada por OverRun. Al inscribirse y participar en nuestro evento, usted acepta cumplir con los siguientes términos y condiciones. Por favor, lea atentamente la información antes de continuar con su inscripción.</p>
      <h3>1. Inscripción</h3>
      <ul>
        <li><strong>Proceso de Inscripción:</strong> La inscripción se realiza a través de nuestra plataforma en línea. Todos los participantes deben proporcionar información precisa y completa.</li>
        <li><strong>Categorías:</strong> Los participantes pueden inscribirse en categorías individuales, grupales o a través de organizaciones. Por favor, seleccione la categoría adecuada al registrarse.</li>
      </ul>
      <h3>2. Participación</h3>
      <ul>
        <li><strong>Elegibilidad:</strong> Los participantes deben tener al menos [edad mínima] años. Los menores de edad deben obtener el consentimiento de un padre o tutor.</li>
        <li><strong>Condiciones de Salud:</strong> Los participantes deben estar en buenas condiciones de salud y físicamente aptos para participar en la carrera. Es responsabilidad del participante consultar a un médico si tiene alguna duda sobre su capacidad para correr.</li>
      </ul>
    </div>
  </div>
  