
<app-tienda-productos-carrusel></app-tienda-productos-carrusel>

<div class="t-contain">

    <h3 class="t-text">!Además puedes adquirir nuestros productos exclusivos que tenemos diseñados para ti</h3>

    <div class="t-products-c">
        <div>
            <img class="t-product" src="https://res.cloudinary.com/dzlgt5j3g/image/upload/v1717095951/Carrera%20Por%20La%20Vida%20Client/OIG3_dsynka.jpg"/>
            <p class="tp-name">Name</p>
            <p class="tp-price">$1000</p>
            <hr/>
            <div class="t-btns">
                <button class="tbtn">ver</button>
                <button class="tbtn">comprar</button>
            </div>
        </div>
        <div>
            <img class="t-product" src="https://res.cloudinary.com/dzlgt5j3g/image/upload/v1717095951/Carrera%20Por%20La%20Vida%20Client/OIG3_dsynka.jpg"/>
            <p class="tp-name">Name</p>
            <p class="tp-price">$1000</p>
            <hr/>
            <div class="t-btns">
                <button>ver</button>
                <button>comprar</button>
            </div>
        </div>
     
</div>






</div>