

.t-contain{
    width:auto;
    margin: 10%;
    margin-top: 16%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    text-align: center;
}

.t-text{
    font-size: 1.3em;
}

.t-product{
    width: 150px;
}


.t-products-c {
    margin-top: 10%;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columns with equal width */
    gap: 20px; /* Gap between grid items */
    justify-content: space-around; /* Optional: adjust if needed */
}

.t-btns{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.tbtn{
    background-color: black;
    color: white;
}

.tp-price{
    font-size: 1.3em;
    font-weight: bolder;
}