<div class="form-container">
  <button class="back-button">&#x2190;</button>
    <h2>Datos de los participantes de mi Equipo</h2>
    <div class="participant-info">
      <div class="participant-item">
        <div class="top-row">
          <span>Mi inscripción</span>
          <span class="status">completado ></span>
        </div>
        <p class="name">Mario Zapata, 1094900120, Armenia, O+</p>
      </div>
      <h3>Inscripción de mi equipo</h3>
      <div class="participant-item">
        <div class="top-row">
          <span>Participante 1</span>
          <span class="status">completado ></span>
        </div>
        <p class="name">Fredy Cardona</p>
      </div>
      <div class="participant-item">
        <div class="top-row">
          <span>Participante 2</span>
          <span class="status">completado ></span>
        </div>
        <p class="name">Juan Cardona</p>
      </div>
      <div class="participant-item">
        <div class="top-row">
          <span>Participante 3</span>
          <span class="status">completado ></span>
        </div>
        <p class="name">Nicolás Sánchez</p>
      </div>
      <div class="participant-item">
        <div class="top-row">
          <span>Participante 4</span>
          <span class="status">completado ></span>
        </div>
        
        <p class="name">Mario Zapata</p>
      </div>
    </div>
    <button class="accept-button">Aceptar</button>
  </div>
  