<div class="e-contain">
    
    <div class="e-carrusel-contain">
        <img class="imglanding" src="https://res.cloudinary.com/dzlgt5j3g/image/upload/v1719616580/Carrera%20Por%20La%20Vida%20Client/BANNER_vvfsdn.png"/>
    </div>
  
    <div class="e-distance"> 
        <h3 class="e-d-text">Distancias</h3>

        <div class="e-distance-cards">
            <div class="e-distance-card">
                <img src="https://res.cloudinary.com/dzlgt5j3g/image/upload/v1719617734/Carrera%20Por%20La%20Vida%20Client/3K_hbjbyt.png" class="e-distance-img" alt="" />
                <p class="e-d-description">CARRERA POR LA CRUZ ROJA LA CARRERA POR LA VIDA</p>
            </div>
            <div class="e-distance-card">
                <img src="https://res.cloudinary.com/dzlgt5j3g/image/upload/v1719617734/Carrera%20Por%20La%20Vida%20Client/7K_g2v9g4.png" class="e-distance-img" alt="" />
                <p class="e-d-description">CARRERA POR LA CRUZ ROJA LA CARRERA POR LA VIDA</p>
            </div>
            <div class="e-distance-card">
                <img src="https://res.cloudinary.com/dzlgt5j3g/image/upload/v1719617734/Carrera%20Por%20La%20Vida%20Client/15K_mlgkgz.png" class="e-distance-img" alt="" />
                <p class="e-d-description">CARRERA POR LA CRUZ ROJA LA CARRERA POR LA VIDA</p>

            </div>
        </div>
  
        <div class="e-inscriptions">
            <div (click)="handleSubscribe()" class="e-inscription">
                <img class="e-i-img" src="https://res.cloudinary.com/dzlgt5j3g/image/upload/v1719623638/Carrera%20Por%20La%20Vida%20Client/INCRIPCI%C3%93N_-_copia_2_efvq7k.png"/>
            </div>
  
            <div (click)="handleSubTeam()" class="e-inscription">
                <img class="e-i-img" src="https://res.cloudinary.com/dzlgt5j3g/image/upload/v1719623768/Carrera%20Por%20La%20Vida%20Client/INCRIPCI%C3%93N_-_copia_uovqoj.png"/>
        
            </div>
            <div (click)="handleSubCe()" class="e-inscription">
                <img class="e-i-img" src="https://res.cloudinary.com/dzlgt5j3g/image/upload/v1719623768/Carrera%20Por%20La%20Vida%20Client/INCRIPCI%C3%93N_fhl5z8.png"/>
        
            </div>
        </div>
    </div>
    <img class="wsp" src="https://res.cloudinary.com/dzlgt5j3g/image/upload/v1717105112/Carrera%20Por%20La%20Vida%20Client/whatsapp_b1sypr.png"/>
  </div>
  