<!-- recorrido.component.html -->
<div class="container">
    <div class="r-c">
        <div class="carrusel-contain">        <app-recorrido-carrusel></app-recorrido-carrusel>
        </div>
        <!-- <img class="imgr-c" src="https://res.cloudinary.com/dzlgt5j3g/image/upload/v1719626792/Carrera%20Por%20La%20Vida%20Client/loit_qrrsgt-transformed_v4mdkd.png"/>
        <div class="at-contain">
            <h3 class="at-t">Atimetría</h3>
            <img class="at-rc" src="https://res.cloudinary.com/dzlgt5j3g/image/upload/v1719626810/Carrera%20Por%20La%20Vida%20Client/loit_xx9y70-transformed_vabfrl.png"/>
        </div> -->
        <div class="rc-btns">
            <button class="rc-btn">Inscríbete ahora</button>
            <button class="rc-btn">Ver Mapa</button>
        </div>
    </div>
</div>
