
<div class="formulario-inscripcion">
    <h1>Formulario inscripción participante</h1>
    <div class="bienvenida">
      <p>¡Hola Fredy Cardona!</p>
      <p>Mario Zapata te ha añadido a su equipo para la Carrera por la Vida 7K. Completa tu inscripción. ¡Te esperamos!</p>
    </div>
    <div class="seccion">
      <div class="titulo">
        <span>Datos del participante</span>
        <span class="estado completado">completado</span>
      </div>
      <div class="contenido">
        Fredy Cardona
      </div>
    </div>
    <div class="seccion">
      <div class="titulo">
        <span>Kit deportivo</span>
        <span class="estado completado">completado</span>
      </div>
      <div class="contenido">
        Hombre, Talla L (pecho 99 cm, cintura 87 cm)
      </div>
    </div>
    <div class="seccion">
      <div class="titulo">
        <span>Añade productos <span class="opcional">(opcional)</span></span>
        <span class="estado completar">completar</span>
      </div>
      <div class="contenido">
        Recuerda que tu inscripción incluye kit deportivo
      </div>
    </div>
    <div class="seccion">
      <div class="titulo">
        <span>Preg patrocinadores</span>
        <span class="estado completado">completado</span>
      </div>
      <div class="contenido">
        Tenis nike, comodidad, etc
      </div>
    </div>
    <button class="completar-inscripcion-btn">Completar inscripción</button>
  </div>
  