<div class="finalize-purchase-container">
  <h1>Finaliza tu compra</h1>

  <div class="tabs">
    <button class="tab-button active">Resumen</button>
    <button class="tab-button">Pago</button>
    <button class="tab-button">Completado</button>
  </div>

  <div class="purchase-summary">
    <h2>Datos del participante</h2>
    <p>Nombre: {{ user.name }} {{user.lastName}}  </p>
    <p>Email: {{ user.email }}</p>

    <h2>Detalle de la compra</h2>
    <ul>
      <p>inscripción: {{ inscription.distancia }} kilómetros</p>
      <p>kit deportivo: {{ kitdeportivo.gender }} {{ kitdeportivo.size }} (incluído)</p>



      <li *ngFor="let item of purchaseDetails">
        {{ item.description }} : {{ item.amount | currency }}
      </li>
    </ul>

    <h2>Resumen de la compra</h2>
    <ul>
      <li>Subtotal: {{ subtotal | currency }}</li>
      <li>Total: {{ total | currency }}</li>
    </ul>

    <div class="actions">
      <button class="cancel-button" (click)="cancel()">Cancelar</button>
      <button class="continue-button" (click)="continue()">Continuar pago</button>
    </div>
  </div>
</div>
