<div *ngIf="showModal" class="modal-overlay" (click)="toggleModal()">
    <div class="modal-content" (click)="$event.stopPropagation()">
      <h2>Lista de Tareas</h2>
      <ul>
        <li>TAREA 1: BOTON PATROCINIO NO HACE NADA</li>
        <li>TAREA 2: EN RECORRIDO REVISAR ELEMENTOS</li>
        <li>Solicitar: poblar RH, EPS,TIPO DE DOCUMENTO</li>
        <li>ACTUALIZAR CARRITO</li>
        <li>HOTELERÍA,CARGAR HOTELES EN EL BACKEND</li>
        <li>HOTELERÍA,CARGAR PRODUCTOS EN EL BACKEND</li>
        <li>los participantes de equipo aparecen completados cuando entran al link y se inscriben</li>
        <li>        estilar wompi
        </li>
        <li>guia detallas pc estilar
        </li>
        <li>estilar recorrido ceular
        </li>
        <li>estilar finaliza tu compra ,que los datos no sean harcodeados
        </li>
         
        <li>Iniciar session o registro antes de iniciar la inscripción <<<<<
        </li>
        <li>agregar codigo vendedor
        </li>

        <li>si el codigo es correcto de vendedor se carga productos con descuento
        </li>
        <li>kit deportivo no aparece en tienda general
        </li>
        <li>En equipos, nombre de equipo verificar si existe ese nombre o no en la db
        </li>
        <li>agregar para agregar una foto del equipo , debajo de nombre del equipo .-
        </li>
        <li>terminos y condiciones de registro  y recuperar contrasena
        </li>

        <li>Agregar en la topbar "equipos" mostraremos el nombre de equipo, foto de su equipo, y nombre participantes
        </li>
        <li>cuando el corredor haga su inscripcion , que haga un boton que diga quieres jugar la loteria tal  con tu numero de participante
          si dice que si  hay que poner un producto 
          </li>

          <li>cuando pague el usuario isrunner a true, state a 2 (que es pagado)
            a nivel de producto 3 tablas
            productos, entries(detalle del producto , producto cantidad order ) , y orders

            cuando se crea la inscripcion una orden con ese usuario y a ese order se le pone entries
            que son orden, productos, cantidad, total  


            cuando se registra como usuario pero no corredor  ,state (0)registrado
            cuando otro lo registra como email, equipos ejemplo , state(1) pending
            y state(2) si es pagado
            </li>



      </ul>
      <button (click)="toggleModal()">Cerrar Modal</button>
    </div>
  </div>
      