<div *ngIf="showModal" class="modal-overlay" (click)="toggleModal()">
    <div class="modal-content" (click)="$event.stopPropagation()">
      <h2>Lista de Tareas</h2>
      <ul>
        <li>TAREA 1: BOTON PATROCINIO NO HACE NADA</li>
        <li>TAREA 2: EN RECORRIDO REVISAR ELEMENTOS</li>
        <li>Solicitar: poblar RH, EPS,TIPO DE DOCUMENTO</li>
        <li>ACTUALIZAR CARRITO</li>
        <li>HOTELERÍA,CARGAR HOTELES EN EL BACKEND</li>
        <li>HOTELERÍA,CARGAR PRODUCTOS EN EL BACKEND</li>
        <li>los participantes de equipo aparecen completados cuando entran al link y se inscriben</li>
        <li>        estilar wompi
        </li>
        <li>guia detallas pc estilar
        </li>
        <li>estilar recorrido ceular
        </li>
        <li>estilar finaliza tu compra ,que los datos no sean harcodeados
        </li>
         
        <li>Iniciar session o registro antes de iniciar la inscripción <<<<<
        </li>
        <li>agregar codigo vendedor
        </li>

        <li>si el codigo es correcto de vendedor se carga productos con descuento
        </li>
        <li>kit deportivo no aparece en tienda general
        </li>
        <li>En equipos, nombre de equipo verificar si existe ese nombre o no en la db
        </li>
        <li>agregar para agregar una foto del equipo , debajo de nombre del equipo .-
        </li>

        <li>Agregar en la topbar "equipos" mostraremos el nombre de equipo, foto de su equipo, y nombre participantes
        </li>

      </ul>
      <button (click)="toggleModal()">Cerrar Modal</button>
    </div>
  </div>
      