<div class="e-contain">
    <div class="e-topbar">
      <img (click)="handleShowMenu()" class="e-menu" src="https://res.cloudinary.com/dzlgt5j3g/image/upload/v1717093312/Carrera%20Por%20La%20Vida%20Client/menu-svgrepo-com_phttj8.svg" />
      <span class="e-options">Recorrido</span>
      <span class="e-options">Patrocinio</span>
      <span class="e-options">Carrito</span>
    </div>
  
<div class="e-carrusel-contain">
    <app-event-carrusel></app-event-carrusel>
</div>

 
<div class="e-distance"> 
    <h3>Distancias</h3>

    <div class="e-distance-cards">
        <div class="e-distance-card">
            <p class="e-d-kmts">3K</p>
            <p class="e-d-description">Carrera por la crua roja, la carrera por la vida</p>
            <p class="e-d-price">$60.000</p>


        </div>
        <div class="e-distance-card">
            <p class="e-d-kmts">3K</p>
            <p class="e-d-description">Carrera por la crua roja, la carrera por la vida</p>
            <p class="e-d-price">$60.000</p>


        </div>
        <div class="e-distance-card">
            <p class="e-d-kmts">3K</p>
            <p class="e-d-description">Carrera por la crua roja, la carrera por la vida</p>
            <p class="e-d-price">$60.000</p>


        </div>
            </div>

        <div class="e-inscriptions">
            <div class="e-inscription">
                <img class="e-i-img" src="https://res.cloudinary.com/dzlgt5j3g/image/upload/v1717100152/Carrera%20Por%20La%20Vida%20Client/correr_jbpyay.png"/>
                <p class="e-i-text">Me inscribiré</p>
                <button class="e-i-button">Inscribirme</button>
        </div>

            <div class="e-inscription">
                <img class="e-i-img" src="https://res.cloudinary.com/dzlgt5j3g/image/upload/v1717103282/Carrera%20Por%20La%20Vida%20Client/perseguir_tpriok.png"/>
                <p class="e-i-text">Me inscribiré y a mi equipo</p>
                <button class="e-i-button">Inscribirnos</button>
        </div>
            <div class="e-inscription">
                <img class="e-i-img" src="https://res.cloudinary.com/dzlgt5j3g/image/upload/v1717103622/Carrera%20Por%20La%20Vida%20Client/tratado-de-paz_izx3bl.png"/>
                <p class="e-i-text">Inscribiré a corredor(es) o equipo(os)</p>
                <button class="e-i-button">Inscribir</button>
        </div>
    </div>
</div>
    <img class="wsp" src="https://res.cloudinary.com/dzlgt5j3g/image/upload/v1717105112/Carrera%20Por%20La%20Vida%20Client/whatsapp_b1sypr.png"/>

    <app-evento-menu *ngIf="showMenu"></app-evento-menu>





  </div>
  