<div class="payment-container">
  <h1>Finaliza tu pago</h1>

  <div class="tabs">
    <button class="tab-button active">Resumen</button>
    <button class="tab-button">Pago</button>
    <button class="tab-button">Completado</button>
  </div>

  <div class="payment-summary">
    <h2>Pago carrera por la vida</h2>
    <p>Total: 141.000 COP</p>
    <form>
      <label>
        <input type="radio" name="datosPago" [(ngModel)]="selectedMethod" value="datosInscripcion"> Usar los datos de mi inscripción
      </label>
      <label>
        <input type="radio" name="datosPago" [(ngModel)]="selectedMethod" value="otrosDatos"> Ingresar otros datos de pago
      </label>
    </form>
    <h2>Formulario de pago</h2>
    <form>
      <label for="nombre">Nombre:</label>
      <input type="text" id="nombre" name="nombre" [(ngModel)]="participantDetails.name">

      <label for="id">Número de cédula:</label>
      <input type="text" id="id" name="id" [(ngModel)]="participantDetails.id">

      <label for="email">Email:</label>
      <input type="email" id="email" name="email" [(ngModel)]="participantDetails.email">

      <label for="telefono">Número de celular:</label>
      <input type="text" id="telefono" name="telefono" [(ngModel)]="participantDetails.phone">

      <label for="banco">Seleccione su banco:</label>
      <select id="banco" name="banco" [(ngModel)]="selectedBank">
        <option *ngFor="let bank of banks" [value]="bank">{{ bank }}</option>
      </select>
    </form>
    <div class="actions">
      <button class="cancel-button" (click)="cancel()">Cancelar</button>
      <app-wompipayment></app-wompipayment>
    </div>
  </div>
</div>
