<div class="feedback-container">
    <div class="feedback-content">
      <span class="close-button" (click)="closeFeedback()">&times;</span>
      <div class="icon">
        <!-- Aquí puedes poner el icono de celebración -->
        <img src="https://res.cloudinary.com/dzlgt5j3g/image/upload/v1718143594/Carrera%20Por%20La%20Vida%20Client/3362598_sgcihu.png" alt="Celebration">
      </div>
      <h2>¡Felicitaciones!</h2>
      <p>Has iniciado sesión en overten con éxito. ¡Bienvenido!</p>
      <button (click)="closeFeedback()">Continuar</button>
    </div>
  </div>
  