<div class="container">
    <div class="header">
      <span (click)="redirectToInit()" class="back-arrow">&lt;</span>
      <span class="title">Patrocinio</span>
    </div>
    <div class="content">
      <h2 class="sponsorship-title">¡Únete a nosotros en la Carrera por la vida!</h2>
      <div class="sponsorship-description">
        <p>En la Carrera por la vida, celebramos la salud y el bienestar mientras apoyamos una causa importante. Este año, ofrecemos cuatro emocionantes planes de patrocinio, cada uno diseñado para proporcionar visibilidad y beneficios exclusivos a nuestros socios. Al unirte a nosotros, tu marca tendrá la oportunidad de conectar con una comunidad apasionada y comprometida.</p>
        <p>Explora nuestros planes de patrocinio:</p>
      </div>
      <div class="plans">
        <div class="plan">Plan Bronce</div>
        <div class="plan">Plan Plata</div>
        <div class="plan">Plan Oro</div>
        <div class="plan">Plan Platino</div>
      </div>
      <div class="sponsorship-footer">
        <p>Cada opción incluye una variedad de beneficios diseñados para maximizar tu exposición y impacto en el evento. Si estás interesado en formar parte de este emocionante evento y deseas más información, contáctanos hoy. Nuestro equipo de expertos está listo para proporcionarte todos los detalles y ayudarte a aprovechar esta oportunidad única.</p>
      </div>
      <div class="button-container">
        <button class="cta-button">Contáctanos</button>
      </div>
    </div>
  </div>
  