
html, body {
    height: 100%;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
  }
  
  body {
    position: relative;
  }
  
  .background-shapes {
    position: fixed;
    top: 11%;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -111;
  }
  
  .shape {
    position: absolute;
    background-color: var(--color);
    clip-path: polygon(var(--points));
    width: var(--width);
    height: var(--height);
    opacity: 0.8; 
  }
  
  .shape {
    position: absolute;
    background-color: var(--color);
    clip-path: polygon(var(--points));
    width: var(--width);
    height: var(--height);
  }
  
  .shape-1 {
    width: 100%;
    height: 100%;
  }

  .shape-1 img {
    width: 100%;
    height: 100%;
    object-fit:cover; 
  }
  @media only screen and (max-width: 768px) {
    .shape-1 img {
      object-fit:contain; 

    }
    
    }