<div class="account-container">
    <div class="header">
      <button class="back-button" (click)="goBack()">&#x2190;</button>
      <h2>Mi cuenta</h2>
    </div>
    
    <div class="user-info">
      <img [src]="imageUrl" alt="User Image" class="user-image">
      <div class="user-details">
        <h3>{{ user.name }}</h3>
        <p *ngIf="user.inscription; else noInscription">{{ user.inscription }}</p>
        <ng-template #noInscription><p>Sin inscripciones por ahora</p></ng-template>
      </div>
    </div>
  </div>
  